@using Mugi.Web.Model.ViewModel
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<style>
    .center.custom {
        text-align: center;
    }

    .error {
        color: red;
    }

    .header.center.custom {
        margin-bottom: 1rem;
    }
</style>
<div class="twelve wide column">
    <div class="header center custom">
        <h2 class=" ui dividing header">Đổi mật khẩu</h2>
    </div>
    <div class=" content">
        <div class="ui items">
            <div class="item">
                
                <div class="content" id="PartialView">
                    <form class="ui form" asp-controller="Staff" asp-action="ChangePassword" method="post">
                        <input asp-for="Id" type="hidden" />

                        <div class="field">
                            <label asp-for="PrePassword">Mật khẩu cũ</label>
                            <div class="field">
                                <input asp-for="PrePassword" class="insert-name" type="password">
                            </div>
                            <span asp-validation-for="PrePassword" class="error"></span>
                        </div>
                        <div class="field">
                            <label asp-for="Password">Mật khẩu mới</label>
                            <div class="field">
                                <input asp-for="Password" class="insert-name" type="password">
                            </div>
                            <span asp-validation-for="Password" class="error"></span>
                        </div>
                        <div class="field">
                            <label asp-for="RePassword">Nhập lại mật khẩu</label>
                            <div class="field">
                                <input asp-for="RePassword" class="insert-name" type="password">
                            </div>
                            <span asp-validation-for="RePassword" class="error"></span>
                        </div>
                        <div class="field">
                            <button type="submit" class="ui black button">Thay đổi mật khẩu</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>


</div>


