@using Mugi.Web.StaticValue
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}





@*<form action="@StaticValue.URL_SUBMIT_PAYMENT" method="post">
    <!-- Identify your business so that you can collect the payments. -->
    <input type="hidden" name="business" value="@StaticValue.ACCOUNT_BUSINESS">
    <input type="hidden" name="return" value="@StaticValue.URL_RETURN" />

    <!-- Saved buttons use the "secure click" command -->
    <input type="hidden" name="cmd" value="_s-xclick">

    Saved buttons are identified by their button IDs
    <input type="hidden" name="hosted_button_id" value="221">

    <!-- Specify details about the item that buyers will purchase. -->>
    <input type="hidden" name="item_name" value="CheckOut" />
    <input type="hidden" name="amount" value="@ViewBag.total" />
    <input type="hidden" name="currency_code" value="USD" />

    <!-- Saved buttons display an appropriate button image. -->
    <input type="image" name="submit"
           src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
           alt="PayPal - The safer, easier way to pay online">
    <img alt="" width="1" height="1"
         src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">

</form>*@