
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}
<div class="sixteen wide column">
    <div class="ui negative massive message" style="width:100%">
        <i class="close icon"></i>
        <div class="header">
            We're sorry we can't apply your payment
        </div>
        <p>
            Balance Of Your Account Is Not Enought
        </p>
    </div>
</div>