@using Mugi.Web.Model
@model OrderModel

@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}
<style>
    .ui.sixteen.wide.column.custom {
        text-align: center;
    }
    textarea{
        max-width:none;
    }
    .ui.header.custom{
        text-align:center;
    }
</style>
<div class="ui four wide column"></div>
<div class="ui eight wide column">
    <div class="ui segment">
        <h3 class="ui header custom">Thông tin thanh toán</h3>
        <form class="ui form" asp-controller="Order" asp-action="Payment" method="post">
            <div class="field">
                <label>
                    <input type="radio" asp-for="PaymentType" value="0" />
                    Thanh toán bằng PayPal
                </label>
            </div>
            <div class="field">
                <label>
                    <input type="radio" asp-for="PaymentType" value="1" />
                    Thanh toán khi nhận hàng
                </label>
            </div>
            <div class="field">
                <label asp-for="PhoneNumber">Số điện thoại người nhận</label>
                <input asp-for="PhoneNumber" class="insert-phone" />
            </div>
            <div class="field">
                <label asp-for="Address">Địa chỉ giao hàng</label>
                <textarea asp-for="Address" class="insert-description"></textarea>
            </div>
            <span asp-validation-for="PaymentType"></span>
            <span asp-validation-for="PhoneNumber"></span>
           
            <button class="ui button">Submit</button>
            <span asp-validation-for="Address"></span>
        </form>
      
    </div>
</div>
<div class="ui four wide column"></div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.ui.radio.checkbox')
                .checkbox()
                ;
            $('.step.one').on('click', function () {
                $('#one').transition({
                    action: 'fade right',
                    onComplete: $('#two').transition('fade right')
                });

            })
        })

    </script>
}
