
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}

<div class="sixteen wide column">
    <div class="ui massive message" style="width:100%">
        <i class="close icon"></i>
        <div class="header">
            Your Payment Is Complete.
        </div>
        <p>
            Thank you!!!!!
        </p>
    </div>
</div>