

@{
    ViewData["Title"] = "FeedBack";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}
<style>
    .center.custom{
        text-align:center;
    }
    .textarea{
        max-width:none;
    }
</style>
<div class="sixteen wide column">
    <div class="header center custom">
        <h2 class="ui dividing header">Hãy cho chúng tôi biết suy nghĩ của bạn</h2>
    </div>
    <div class="content">
        <div class="ui form">
            
            <div class="field">
                <br />
                <h3>Nội dung</h3>
                <textarea class="textarea"></textarea>
            </div>
            <div class="field">
                <div class="ui green button">Send</div>
            </div>
        </div>
    </div>
    
</div>

