
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Index</h2>

@* Filter *@
<div class="ui styled fluid accordion" style="margin-bottom:15px">
    <div class="title">
        <i class="filter icon"></i>
        Filter
    </div>
    <div class="content ui form">
        <div class="five wide fields">
            <div class="field">
                <label>Giá</label>
                <div class="ui fluid search dropdown selection">
                    <select name="card[expire-month]">
                        <option value="">Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                    </select><i class="dropdown icon"></i><input class="search" autocomplete="off" tabindex="0"><div class="default text">Month</div><div class="menu transition hidden" tabindex="-1"><div class="item selected" data-value="1">January</div><div class="item" data-value="2">February</div><div class="item" data-value="3">March</div><div class="item" data-value="4">April</div><div class="item" data-value="5">May</div><div class="item" data-value="6">June</div><div class="item" data-value="7">July</div><div class="item" data-value="8">August</div><div class="item" data-value="9">September</div><div class="item" data-value="10">October</div><div class="item" data-value="11">November</div><div class="item" data-value="12">December</div></div>
                </div>
            </div>
            <div class="field">
                <label>Thương hiệu</label>
                <div class="ui fluid search dropdown selection">
                    <select name="card[expire-month]">
                        <option value="">Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                    </select><i class="dropdown icon"></i><input class="search" autocomplete="off" tabindex="0"><div class="default text">Month</div><div class="menu transition hidden" tabindex="-1"><div class="item selected" data-value="1">January</div><div class="item" data-value="2">February</div><div class="item" data-value="3">March</div><div class="item" data-value="4">April</div><div class="item" data-value="5">May</div><div class="item" data-value="6">June</div><div class="item" data-value="7">July</div><div class="item" data-value="8">August</div><div class="item" data-value="9">September</div><div class="item" data-value="10">October</div><div class="item" data-value="11">November</div><div class="item" data-value="12">December</div></div>
                </div>
            </div>
            <div class="field">
                <label>Ngày ra mắt</label>
                <div class="ui fluid search dropdown selection">
                    <select name="card[expire-month]">
                        <option value="">Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                    </select><i class="dropdown icon"></i><input class="search" autocomplete="off" tabindex="0"><div class="default text">Month</div><div class="menu transition hidden" tabindex="-1"><div class="item selected" data-value="1">January</div><div class="item" data-value="2">February</div><div class="item" data-value="3">March</div><div class="item" data-value="4">April</div><div class="item" data-value="5">May</div><div class="item" data-value="6">June</div><div class="item" data-value="7">July</div><div class="item" data-value="8">August</div><div class="item" data-value="9">September</div><div class="item" data-value="10">October</div><div class="item" data-value="11">November</div><div class="item" data-value="12">December</div></div>
                </div>
            </div>
            <div class="field">
                <label>Sắp xếp</label>
                <div class="ui fluid search dropdown selection">
                    <select name="card[expire-month]">
                        <option value="">Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                    </select><i class="dropdown icon"></i><input class="search" autocomplete="off" tabindex="0"><div class="default text">Month</div><div class="menu transition hidden" tabindex="-1"><div class="item selected" data-value="1">January</div><div class="item" data-value="2">February</div><div class="item" data-value="3">March</div><div class="item" data-value="4">April</div><div class="item" data-value="5">May</div><div class="item" data-value="6">June</div><div class="item" data-value="7">July</div><div class="item" data-value="8">August</div><div class="item" data-value="9">September</div><div class="item" data-value="10">October</div><div class="item" data-value="11">November</div><div class="item" data-value="12">December</div></div>
                </div>
            </div>
            <div class="field">
                <label>Khuyến mãi</label>
                <div class="ui fluid search dropdown selection">
                    <select name="card[expire-month]">
                        <option value="">Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                    </select><i class="dropdown icon"></i><input class="search" autocomplete="off" tabindex="0"><div class="default text">Month</div><div class="menu transition hidden" tabindex="-1"><div class="item selected" data-value="1">January</div><div class="item" data-value="2">February</div><div class="item" data-value="3">March</div><div class="item" data-value="4">April</div><div class="item" data-value="5">May</div><div class="item" data-value="6">June</div><div class="item" data-value="7">July</div><div class="item" data-value="8">August</div><div class="item" data-value="9">September</div><div class="item" data-value="10">October</div><div class="item" data-value="11">November</div><div class="item" data-value="12">December</div></div>
                </div>
            </div>
        </div>
    </div>
</div>