@using Mugi.Web.Model.ViewModel
@using Mugi.Web.Model

@model LoginCustomerViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}
<style>
    .error.custom{
        color:red;
    }
</style>
<div class="one wide column"></div>
<div class="six wide column">
    @{ string temp = TempData["LoginCustomer"] as string;}
    @if (temp == "requestlogin")
    {
        <p style="text-align:center;color:red;">Vui lòng đăng nhập để tiến hành đặt hàng</p>

    }
    <form class="ui form" asp-controller="Customer" asp-action="LoginCustomer" method="post">

        <h3 class="ui dividing header">Đăng nhập</h3>

        <div class="field">
            <label asp-for="UserName">Tên tài khoản</label>
            <div class="field">
                <input asp-for="UserName" class="insert-name">
                <span asp-validation-for="UserName" class="error custom"></span>
            </div>
        </div>
        <div class="field">
            <label asp-for="Password">Mật khẩu</label>
            <div class="field">
                <input asp-for="Password" type="password" class="insert-name">
                <span asp-validation-for="Password" class="error custom"></span>

            </div>
        </div>

        <button class="ui button" type="submit">Đăng nhập</button>

    </form>
</div>
<div class="nine wide column"></div>